@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: "Epilogue", sans-serif;
}

body {
  overflow-x: hidden;
}
